# Web Server configuration
TODO_PORT=7540

# DataBase Path
TODO_DBFILE=./scheduler.db

#Password web interface
TODO_PASSWORD=12345

#JWT secret
TODO_JWT_SECRET=ваш серкетный код для подписи токена(например: uthypNEgAGIucyZjPJWLMDGoNflvqUL4wtihMDoBhtM=)